body{
    margin: 0;
    padding: 0;
    background-image: url('bg.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form{
    background-color: white;
    width: 300px;
    padding-left: 18px;
    padding-right: 20px;
    padding-top: 10px;
    margin-left: 470px;
    margin-top: 130px;
    border-radius: 1%;
    
  }
  .i{
    background-color: #f1f1f1;
    border: none;
    width: 266px;
  }
  h1{
    font: bold;
    font-size: 18px;
    padding-left: 90px;
    margin-bottom: 17px;
  }
  
  .b{
    background-color: #373b3e;
    margin-bottom: 10px;
    margin-top: 33px;
    width: 266px;
    color: white;
  }